


.preta{
    background-color: black;
    color: white;
}
.marrom{
    background-color: brown;
    color: white;
}
.vermelho{
    background-color: red;
    color: white;
}
.Amarelo{
    background-color: yellow;
    color: black;
}
.laranja{
    background-color: orange;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
.azul{
    background-color: blue;
    color: white
}
.roxo{
    background-color: purple;
    color: white;
}
.cinza{
    background-color: gray;
    color: white;
}
.dourado{
    background-color: gold;
    color: black;
}
.prateado{
    background-color: silver;
    color: black;
}